.result-close {
	float: right;
	font-size: 1.5rem;	
	line-height: 1;
	background-color: transparent;
	padding: 0;
	border: none;
}

.custom-control-input:checked ~
.custom-control-label::before {
	border-color: #dc3545;
	background-color: #dc3545;
} 